@media print {
    /* Hide unnecessary elements */
    .nav-column,
    header,
    .header-icons,
    .print-button {
        display: none !important;
    }

    body {
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;

        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    @page {
        size: A4;
        margin:0;
    }

    .container {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;

        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .company-logo {
        display: block;
        width: 100%; /* Make it responsive */
        text-align: center;
        margin: 20px auto 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
    }

    .company-logo img {
        width: auto;
        height: 150px; /* Ensure the logo has a fixed height */
        max-width: 100%;
        box-shadow: none !important;
    }

    .presupuestador-container {
        width: 100%;
        background-color: #ffffff !important;
        border: none !important;
        font-size: small;
        box-shadow: none !important;
    }

    .section {
        margin-bottom: 20px;
        box-shadow: none !important;

        flex-grow: 1;
        overflow: hidden;
    }

    .section>.vendedor-container {
        display: flex;
        flex-direction: row;
    }

    .detalle-vendedor,
    .fechas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cliente-direccion,
    .prov-loc-cp,
    .condicion-cuit,
    .iva-descuento {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .iva-descuento {
        border-top: 1px solid rgb(111, 107, 107)!important;
        margin-top: 8px !important;
        padding-top: 5px;
        align-items: center;
    }

    .section h3, .presupuesto-info-container {
        padding: 10px !important;
        border: 1px solid #7f7f7f !important;
        background-color: rgb(160, 157, 157) !important;
        margin: 0 !important;
        margin-bottom: 10px !important;
        box-shadow: 1px 1px rgb(170, 169, 169) !important;
        position: static;
        z-index: 10;
    }

    .section label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px !important;
        box-shadow: none !important;
    }

    .section input,
    .section textarea {
        width: calc(100% - 10px) !important;
        padding: 3px !important;
        margin-bottom: 4px !important;
        border: 1px solid #ddd !important;
        border-radius: 4px !important;
        box-sizing: border-box !important;
        box-shadow: none !important;
    }

    .details-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px !important;
        box-shadow: none !important;
    }

    .details-table th,
    .details-table td {
        border: 1px solid white !important;
        text-align: left !important;
        box-shadow: none !important;
        padding: 2px 0px;
    }

    .details-table th {
        background-color: #f0f0f0 !important;
        box-shadow: none !important;
    }

    #detalle-body input {
        width: auto !important;
        margin: 0 !important;
        box-shadow: none !important;
    }

    .footer-text {
        font-size: 12px !important;
        color: #555 !important;
        box-shadow: none !important;
    }

    label {
        flex: 0 0 auto;
        width: min-content;
        margin-right: 5px;
        align-items: center;
        padding-top: 7px;
    }

    .input-span {
        flex: 1;
        align-items: center;
    }

    .below-iva {
        display: grid;
        grid-template-areas: "b b b b b b iva";
        position: relative;
    }

    .b {
        grid-area: b;
        width: 100%;
    }

    .iva-discriminado-class {
        position: relative;
        right: -22px;
        top: 5px;
        width: 150px;
        margin-left: 68%;
        margin-top: 2px;
        font-size: 11px;
        font-weight: 400;
        font-family: Arial, sans-serif;
        line-height: 5px;
        text-align: left;
    }

    .iva-discriminado-class p {
        grid-area: iva;
        text-align: left;
        padding-left: 1px;
        margin: 0 0 10px;
    }

    #vendedor-h3 {
        padding: 0 230px;
        text-align: center;
        white-space: nowrap;
        position: relative;
        margin-bottom: 10px;
    }

    .presupuesto-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .presupuesto-header h2 {
        margin: 0 auto;
        text-align: center;
        position: relative;
        left: 40px;
    }

    .presupuesto-num {
        font-size: medium;
        position: relative;
    }

    .presupuesto-subtext {
        display: block;
        text-align: center;
        margin-top: 3px;
        font-size: 12px;
        color: gray;
    }
    .telefono-cliente-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
}
