@media print {

    /* Hide unnecessary elements */
    .nav-column,
    header,
    .header-icons,
    .print-button {
        display: none !important;
    }


    body {
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
        /* text-align: left !important; */
    }

    .container {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;
    }

    .company-logo {
        display: block;
        position: relative;
        top:15px;
        z-index: -1;
        width: 200px;
        margin: 0 auto !important;
        text-align: center;
        padding: 0 !important;
        box-shadow: none !important;
    }

    .company-logo img {
        width: 100%;
        height: 100%;
        box-shadow: none !important;
    }

    .presupuestador-container {
        z-index: 5;
        position: relative;
        bottom: 15px;
        width: 100%;
        /* padding: 20px !important; */
        background-color: #ffffff !important;
        border: none !important;
        font-size: small;
        box-shadow: none !important;
    }

    .section {
        margin-bottom: 20px;
        box-shadow: none !important;
    }

    .section>.vendedor-container {
        display: flex;
        flex-direction: row;
    }

    .detalle-vendedor,
    .fechas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cliente-direccion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .prov-loc-cp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .condicion-cuit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .iva-descuento {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgb(111, 107, 107)!important;
        margin-top: 8px !important;
        padding-top: 5px;
    }

    .section h3, .presupuesto-info-container {
        /* background: #f0f0f0; */
        padding: 10px !important;
        border: 1px solid #7f7f7f !important;
        background-color: rgb(160, 157, 157) !important;
        margin: 0 !important;
        margin-bottom: 10px !important;
        box-shadow: 1px 1px  rgb(170, 169, 169) !important;
        position: static;
        z-index: 10;
        /* background-color: #555 !important; */
    }

    .section label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px !important;
        box-shadow: none !important;
    }

    .section input,
    .section textarea {
        width: calc(100% - 10px) !important;
        padding: 3px !important;
        margin-bottom: 4px !important;
        border: 1px solid #ddd !important;
        border-radius: 4px !important;
        box-sizing: border-box !important;
        box-shadow: none !important;
    }

    .details-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px !important;
        box-shadow: none !important;
    }


    .details-table th,
    .details-table td {
        border: 1px solid white !important;
        text-align: left !important;
        box-shadow: none !important;
        padding: 2px 0px;
    }

    .details-table th {
        background-color: #f0f0f0 !important;
        box-shadow: none !important;
    }

    #detalle-body input {
        width: auto !important;
        /* border: 1px solid white !important; */
        margin: 0 !important;
        box-shadow: none !important;
    }

    .footer-text {
        font-size: 12px !important;
        color: #555 !important;
        box-shadow: none !important;
    }

    /* .print-button {
        text-align: center !important;
        margin-top: 5px !important;
        box-shadow: none !important;
    }

    .print-button button {
        padding: 5px 10px !important;
        font-size: 13px !important;
        cursor: pointer !important;
        background-color: rgb(45, 62, 80) !important;
        color: #fff !important;
        border: none !important;
        border-radius: 4px !important;
        box-shadow: none !important;
    }

    .print-button button:hover {
        background-color: #0056b3 !important;
        box-shadow: none !important;
    } */
    /* .input-span {
        text-align: left!important;
        margin-left: 0px;
        padding-left: 0px;
        position: static;
        left: 500px
    } */


    label {
        flex: 0 0 auto;
        width: min-content;
        margin-right: 5px;
        align-items: center;
        padding-top: 7px;

    }

    .input-span {
        flex: 1;
        align-items: center;
        /* padding: 3px; */
        /* justify-self: left; */
    }

    .below-iva{
        display: grid;
        grid-template-areas: "b b b b b b iva";
        position: relative;
    }
    .b {
        grid-area: b;
        width: 100%;
    }
    .iva-discriminado-class {
        position:relative;
        right: -15px;
        top: 0;
        width: 150px;
        margin-left: 68%;
        margin-top: 2px;
        font-size: 11px;
        font-weight:400;
        font-family: Arial, sans-serif;
        line-height: 5px;
        text-align: left;
    }
    .iva-discriminado-class p {
        grid-area: iva;
        text-align: left;
        padding-left: 1px;
        margin: 0;
    }


    #vendedor-h3 {
        /* margin: 0 auto !important; */
        padding: 0 230px;
        text-align: center;
        white-space: nowrap; /* Ensure the text doesn't break on its own */
        position: relative;  /* For positioning the span */
        margin-bottom: 10px;

    }
    .presupuesto-info-container {
        margin-top: -30px;
    }
      .presupuesto-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .presupuesto-header h2 {
        margin: 0 auto;
        text-align: center;
      }

      .presupuesto-num {
        font-size: medium;
      }

      .presupuesto-subtext {
        display: block;
        text-align: center;
        margin-top: 3px;
        font-size: 12px;
        color: gray;
      }

}
